@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFEEE3;
  --light-green: #748E70;
  --dark-green: #34492C;
  --blue-highlight: #c2c2e2;
}

body {
  background-color: var(--background);
}

/* This will temporarily restrict to 768px since it is only for phones for now */
.main {
  max-width: 768px;
  margin: auto;
  height: 100%;
}
